<header>
<h1>Post</h1>
  
  <div class="login-info">
  	<% if current_user %>
  	 <div>
  	 <%= current_user.username %>
  	 </div>
  	 <a href="/logout">Logout</a>
  	<% else %>
  	 <a href="/login">Login</a>
  	 <div>
  	 <a href="/signup">Signup</a>
  	 </div>
  	<% end %>  	
  </div> 
 
</header>
<form></form>