

<header>
<h1>New Post</h1>
  
  <div class="login-info">
  	<% if current_user %>
  	 <div>
  	 <%= current_user.username %>
  	 </div>
  	 <a href="/logout">Logout</a>
  	<% else %>
  	 <a href="/login">Login</a>
  	 <div>
  	 <a href="/signup">Signup</a>
  	 </div>
  	<% end %>  	
  </div> 
 
</header>


<form action="/posts" method="POST">
 <div class="form-group">
 	<label for="photo_url">Photo URL</label>
 	<input type="text" id="photo_url" name="photo_url">
 </div>
 <div class="form-group">
 	<button class="button" type="submit">Post New</button>
 </div>
</form>

